:root {
	--pico-font-base: 'Rubik', sans-serif;
	--pico-font-headings: 'Rubik', sans-serif;

	--border-radius: 12px;
}

:root:not([data-theme]),
[data-theme='light'] {
	--pico-primary: var(--brand-500);

	--pico-primary-background: var(--brand-500);
	--pico-primary-border: var(--brand-500);

	--pico-primary-hover-background: var(--brand-600);
	--pico-primary-hover-border: var(--brand-600);

	--pico-primary-focus: var(--brand-400);
	--pico-primary-inverse: white;
}

[data-theme='dark'] {
	--pico-primary: var(--brand-300);

	--pico-primary-background: var(--brand-300);
	--pico-primary-border: none;

	--pico-primary-hover-background: var(--brand-400);
	--pico-primary-hover-border: none;

	--pico-primary-focus: var(--brand-400);
	--pico-primary-inverse: var(--neutral-900);

	--pico-color: var(--brand-300);

	--pico-h1-color: var(--brand-300);
	--pico-h2-color: var(--neutral-800);
	--pico-h3-color: var(--neutral-800);
	--pico-h4-color: var(--neutral-800);
	--pico-h5-color: var(--neutral-800);
	--pico-h5-color: var(--neutral-800);

	--pico-typography-spacing-vertical: 0;

	--pico-background-color: var(--neutral-800);
	--pico-form-element-active-background-color: var(--neutral-800);
	--pico-form-element-background-color: var(--neutral-900);
	--pico-form-element-border-color: var(--neutral-900);
	--pico-form-element-hover-border-color: var(--neutral-800);
	--pico-form-element-active-border-color: var(--neutral-700);
	--pico-form-element-color: var(--neutral-200);
}

body {
	box-sizing: border-box;
	margin: 0;
}

/* page background */
[data-theme='light'] {
	background-color: var(--neutral-100);
	color: var(--neutral-900);
}

[data-theme='dark'] {
	background-color: var(--neutral-700);
	color: var(--neutral-100);
}
